palette/design/plugins/com.siepoma.bw.palette.jsonextension.design/schema/RemoveNullSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://www.tibco.com/JsonExtension/RemoveNull" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/JsonExtension/RemoveNull">
  <xsd:element name="Input">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="JsonString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Output">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="JsonCleaned" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
